/* ==========================================================================
   Sea theme skin
   ========================================================================== */

/* Colors */
$base-color: #c7a2d9 !default;
$text-color: #f0ebf2 !default;
$accent-color: #aa50d7!default;
$background-color: #0c070e !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
